# Kivy framework and dependencies
kivy==2.3.0
# For Raspberry Pi hardware access
gpiozero
RPi.GPIO
# For QR code decoding
opencv-python-headless
pyzbar
# Pillow is a dependency for Kivy but it's good to specify it
Pillow